<%- include('../partials/html-head.ejs') %>

<%- include('../partials/nav.ejs') %>

<h1>This is the pokemon show view</h1>
<h2>You're trying to view the details for <%= pokeName %></h2>

<%- include('../partials/footer.ejs') %>