<%- include('../partials/html-head.ejs') %>

<%- include('../partials/nav.ejs') %>

<h1>This is the profiles show view</h1>
<h2>The profile ID you are looking at is <%= profileId %></h2>

<%- include('../partials/footer.ejs') %>